<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dell.CostAnalytics.Global.Global" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dell.CostAnalytics.Global.Global>
            <setting name="DBServer" serializeAs="String">
                <value>MRKTOPS1</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>Cost_Analytics</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBAccountName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBPacketSize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="DBDefaultTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DBPersistentSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBNumberOfRetries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Cost Analytics</value>
            </setting>
            <setting name="ImpersonationAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="ImpersonationPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FLCExtractPath" serializeAs="String">
                <value>C:\\Users\\Dominic_Bett\\Desktop\\Desktop Items\\PROJECTS\\Cost Analysis\\FLC_EXTRACT_EUC_PC_20161207051244.csv</value>
            </setting>
            <setting name="ConsolidatedFilePath" serializeAs="String">
                <value>C:\\Users\\Dominic_Bett\\Desktop\\Desktop Items\\PROJECTS\\Cost Analysis\\consolidated.txt</value>
            </setting>
        </Dell.CostAnalytics.Global.Global>
    </applicationSettings>
</configuration>